$title-color: #8064a9;
$text-color: #444444;
$light-text-color: #666666;
$lighter-text-color: #888888;
$code-color: #ec71b7;
$link-color: #4b96e6;
$shadow-color: #eee;
$border-quote: #e3dff0;
$border: #e7e7e7;
$link-bottom: #bbb;
$shadow: 3px 3px 10px #eee;
$inline-code-bg: #f4f2f9;
$header-weight: normal;
$side-bar-bg-color: #fafafa;
$control-text-color: $light-text-color;
$active-file-text-color: $title-color;
$active-file-bg-color: #eee;
$item-hover-bg-color: #eee;
$active-file-border-color: #8064a9;
$base-font: JetBrains Mono, Monaco, PingFang SC, Microsoft YaHei, Source Sans Pro, Helvetica Neue, sans-serif;
$title-font: JetBrains Mono, Monaco, Microsoft YaHei, PingFang SC, Helvetica Neue, EB Garamond, Georgia, Source Sans Pro, serif;
$monospace: JetBrains Mono, Monaco, Fira Code, Cascadia Code, Sarasa Term SC, Deja Vu Sans Mono, Consolas, Lucida Console, Andale Mono, Roboto Mono, Courier, Monospace, serif;

.confluence-markdown-editor-content {
  text-rendering: optimizelegibility !important;
  font-family: $base-font !important;
  font-size: 16px;
  line-height: 2 !important;

  & :not(table) {
    box-sizing: content-box;
    box-sizing: content-box;
    line-height: 160%;
  }

  & address,
  & cite,
  & dfn,
  & em,
  & i,
  & var {
    font-style: italic;
  }

  & strong {
    font-weight: 700;
  }

  & p {
    color: #222;
    margin: 10px 0;
  }

  & > div > div:first-of-type h1,
  & > h1:first-of-type {
    margin-top: 14px;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: #222;
    font-weight: 700;
  }

  & h1 {
    border-bottom: 3px double #999;
    font-size: 24px;
    line-height: 28px;
    margin: 52px 0 15px;
    padding-bottom: 7px;
  }

  & h2 {
    border-bottom: 1px solid #dbdbdb;
    font-size: 22px;
    line-height: 23px;
    margin: 20px 0 13px;
    padding-bottom: 7px;
  }

  & h3 {
    font-size: 20px;
    margin: 18px 0 2px;
  }

  & h4 {
    font-size: 18px;
    margin: 10px 0 2px;
  }

  & h3,
  & h4 {
    line-height: 18px;
  }

  & h5 {
    font-size: 16px;
  }

  & h6 {
    font-size: 14px;
  }

  & h5,
  & h6 {
    line-height: 17px;
    margin: 9px 0 -4px;
  }

  & del {
    color: #999;
  }

  & blockquote {
    border-left: 4px solid #e5e5e5;
    color: #999;
    margin: 14px 0;
    padding: 0 16px;
  }

  & blockquote ol,
  & blockquote p,
  & blockquote ul {
    color: #999;
  }

  & blockquote > :first-child {
    margin-top: 0;
  }

  & blockquote > :last-child {
    margin-bottom: 0;
  }

  & code,
  & pre {
    border: 0;
    border-radius: 0;
  }

  & pre {
    background-color: #f4f7f8;
    margin: 2px 0 8px;
    padding: 18px;
  }

  & code {
    background-color: #f9f2f4;
    border-radius: 2px;
    color: #c1798b;
    letter-spacing: -0.3px;
    padding: 2px 3px;
  }

  & pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    white-space: pre-wrap;
  }

  & img {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px 0 10px;
    max-width: 100%;
    vertical-align: top;
  }

  & table {
    border: 1px solid rgb(0 0 0 / 10%);
    border-collapse: collapse;
    box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    margin: 12px 0 14px;
    width: auto;
  }

  & table td,
  & table th {
    border: 1px solid rgb(0 0 0 / 10%);
    height: 32px;
    padding: 5px 14px 5px 12px;
  }

  & table th {
    background-color: #555;
    color: #fff;
    font-weight: 300;
    padding-top: 6px;
  }

  & th p {
    color: #fff;
    margin: 0;
  }

  & td p {
    margin: 0;
    padding: 0 2px;
  }

  & td.toastui-editor-cell-selected {
    background-color: #d8dfec;
  }

  & th.toastui-editor-cell-selected {
    background-color: #908f8f;
  }

  & dir,
  & menu,
  & ol,
  & ul {
    color: #222;
    display: block;
    list-style-type: none;
    margin: 6px 0 10px;
    padding-left: 24px;
  }

  & ol {
    counter-reset: li;
    list-style-type: none;
  }

  & ol > li {
    counter-increment: li;
  }

  & ol > li::before,
  & ul > li::before {
    display: inline-block;
    position: absolute;
  }

  & ul > li::before {
    background-color: #ccc;
    border-radius: 50%;
    content: "";
    height: 5px;
    margin-left: -17px;
    margin-top: 12px;
    width: 5px;
  }

  & ol > li::before {
    color: #aaa;
    content: "." counter(li);
    direction: rtl;
    margin-left: -28px;
    text-align: right;
    width: 24px;
  }

  & ol ol,
  & ol ul,
  & ul ol,
  & ul ul {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  & ol li,
  & ul li {
    position: relative;
  }

  & ol p,
  & ul p {
    margin: 0;
  }

  & hr {
    border-top: 1px solid #eee;
    margin: 16px 0;
  }

  & a {
    color: #4b96e6;
    text-decoration: underline;
  }

  & a:hover {
    color: #1f70de;
  }

  & .image-link {
    position: relative;
  }

  & .image-link:hover::before {
    background:
      #fff
      url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjNTU1IiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiPjxwYXRoIGQ9Im01LjY4NyAxMC4yOTQtMS4yODUgMS4yODhjLTEuMDUgMS4wNS0xLjAzNSAyLjc3Mi4wMzcgMy44NDRsLjEzNS4xMzVjMS4wNzIgMS4wNzIgMi43OTQgMS4wODggMy44NDQuMDM3bDIuNzItMi43MmMxLjA1MS0xLjA1IDEuMDM0LTIuNzcyLS4wMzctMy44NDNsLS4xMzYtLjEzNiIvPjxwYXRoIGQ9Im0xNC4zMDUgOS43MTMgMS4yODctMS4yOWMxLjA1Mi0xLjA1MSAxLjAzNi0yLjc3My0uMDM2LTMuODQ0bC0uMTM1LS4xMzZjLTEuMDcyLTEuMDcyLTIuNzk0LTEuMDg4LTMuODQ1LS4wMzZMOC44NTcgNy4xMjZjLTEuMDUxIDEuMDUxLTEuMDM0IDIuNzcyLjAzNyAzLjg0M2wuMTM2LjEzNiIvPjwvZz48L3N2Zz4=)
      no-repeat;
    background-position: 50%;
    border: 1px solid #c9ccd5;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    content: "";
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    width: 30px;
  }

  & .task-list-item {
    border: 0;
    list-style: none;
    margin-left: -24px;
    padding-left: 24px;
  }

  & .task-list-item::before {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background:
      transparent
      url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHJlY3Qgd2lkdGg9IjE3IiBoZWlnaHQ9IjE3IiB4PSIuNSIgeT0iLjUiIHJ4PSIyIiBmaWxsPSIjRkZGIiBzdHJva2U9IiNDQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    border-radius: 2px;
    content: "";
    cursor: pointer;
    height: 18px;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 1px;
    width: 18px;
  }

  & .task-list-item.checked::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTE2IDBhMiAyIDAgMCAxIDIgMnYxNGEyIDIgMCAwIDEtMiAySDJhMiAyIDAgMCAxLTItMlYyYTIgMiAwIDAgMSAyLTJoMTR6bS0xLjc5MyA1LjI5M2ExIDEgMCAwIDAtMS40MTQgMEw3LjUgMTAuNTg1IDUuMjA3IDguMjkzbC0uMDk0LS4wODNhMSAxIDAgMCAwLTEuMzIgMS40OTdsMyAzIC4wOTQuMDgzYTEgMSAwIDAgMCAxLjMyLS4wODNsNi02IC4wODMtLjA5NGExIDEgMCAwIDAtLjA4My0xLjMyeiIgZmlsbD0iIzRCOTZFNiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
  }

  .toastui-editor-custom-block-view .info {
    color: #5200d0;
    font-size: 13px;
    font-weight: 700;
    vertical-align: middle;
  }

  & .toastui-editor-ww-code-block {
    position: relative;
  }

  & .toastui-editor-ww-code-block::after {
    background:
      #e5e9ea
      url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAgMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Im0xNS41IDEyLjUgMiAyTDEyIDIwaC0ydi0ybDUuNS01LjV6TTE4IDEwbDIgMi0xLjUgMS41LTItMkwxOCAxMHoiIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiM1NTUiLz48L3N2Zz4=)
      no-repeat;
    background-position: 100%;
    background-size: 30px 30px;
    border-radius: 2px;
    color: #333;
    content: attr(data-language);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 24px;
    padding: 3px 35px 0 10px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .toastui-editor-ww-code-block-language {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    height: 27px;
    position: fixed;
    right: 35px;
    width: 100px;
    z-index: 30;
  }

  .toastui-editor-ww-code-block-language input {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    outline: none;
    padding: 0 10px;
    width: 100%;
  }

  &-placeholder::before {
    color: grey;
    content: attr(data-placeholder);
    line-height: 160%;
    position: absolute;
  }
}
